<p id="notice"><%= notice %></p>

<section class="blog-font">
  
  <!--Intro Card-->
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card orange">
        <div class="card-content white-text center">
          <div class="card-title">
            Welcome!
          </div>
          <p>
            Here you can find all the blog articles starting from the most recent.
          </p>
          <br/>
          <div class="center">
            <p>Feel free to check out my</p>
            <%= link_to "rails projects", rails_path, 
                    class: "waves-effect waves-light btn light-blue" %>
            <p>Otherwise, enjoy the blog posts!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Cards-->
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <div class="card orange">
          <!--Image-->
          <div class="card-image waves-effect waves-block waves-light">
            <% if blog.image %>
              <%= link_to image_tag(blog.image), blog_path(blog) %>
            <% end %>
          </div>
          <div class="card-content white-text center">
            <span class="card-title">
              <!--Title-->
              <%= link_to blog.title, blog_path(blog) %>
            </span>
            <!--Date-->
            <p><%= link_to blog.created_at.strftime("%B %e, %Y"), blog_path(blog) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</section>