<section class="blog-font">
  
  <!--Intro Card-->
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card orange">
        <div class="card-content white-text">
          <div class="card-title center">
            Nice to meet you!
          </div>
          <p>
            My name is Kelson. I am from the United States, but I have lived more 
            than 20% of my life in foreign countries and have visited 20+ nations. 
            Apart from programming languages, I now speak English, Dutch, Spanish, 
            and Italian.
          </p>
          <br/>
          <div class="center">
            <p>Feel free to check out my</p>
            <%= link_to "projects", rails_path, class: "waves-effect waves-light btn" %>
            <p>Otherwise, read on to learn a bit about me.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Colorado-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("colorado.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            Colorado<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            Colorado<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--Italy-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("italy.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            Italy<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            Italy<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--University-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("university.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            Double Bachelor's<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            Double Bachelor's<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--Netherlands-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("colorado.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            Netherlands<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            Netherlands<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--Dev Bootcamp in San Francisco-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("colorado.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            San Francisco<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            San Francisco<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--Rails Developer-->
  <div class="row">
    <div class="col s12 m4 offset-m3">
      <div class="card orange">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("colorado.png", class: "activator") %>
        </div>
        <div class="card-content white-text">
          <span class="card-title activator">
            Colorado<i class="fa fa-ellipsis-v right"></i>
          </span>
          <p>Click the image to read.</p>
        </div>
        <div class="card-reveal light-blue">
          <span class="card-title white-text">
            Colorado<i class="fa fa-times-circle right"></i>
          </span>
          <p class="white-text">
            I was born and raised in Colorado. In high school, when I wasn't skiing 
            the slopes of Vail or Winter Park, I was either studying for my 7 AP 
            classes or working 20+ hours per week at a local hospital.
          </p>
          <p class="white-text">
            While I loved the nature in Colorado, I deeply wanted to explore 
            the world and learn about the various perspectives in the 
            world - an education that would require learning outside of books.
          </p>
          <p class="white-text">
            I was accepted to an American university in Rome, Italy. So I packed 
            my bags, and I got ready to leave for the other side of the planet 
            where I knew no one.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</section>