<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Portfolio</h1>
      </div>
    </div>
    <div class="parallax"><%= image_tag("pinkroses.jpg", alt: "Unsplashed background img 3") %></div>
  </div>
  
  <div class="container">
    <div class="section">
  
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 ">
          <div class="icon-block">
            
            <!--Header portfolio-->
            <div class="center">
              <h2 class="red-text">Ruby on Rails</h2>
              <h5 class="grey-text">Personal Projects</h5>
              <p class="grey-text">I created the following projects by consulting countless online references, online bootcamps, and books.</p>
            </div>
            
            <!-- Crew Panda -->
            <div class="row">
              <div class="col s12">
                <hr/>
                <br/>
                <div class="col s12 l7 flow-text">
                  <h3>Crew Panda</h3>
                  <ul>
                    <li>Multi-tenancy architectural design</li>
                    <li>Datepicker project deadline feature</li>
                    <li>UI built with CSS, SASS, and Bootstrap</li>
                    <li>Integrated: SendGrid, Stripe, and AWS</li>
                  </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("space.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
            </div>
            <!--End Crew Panda-->
            
            <!-- Photo App -->
            <div class="row">
              <div class="col s12">
                <hr/>
                <br/>
                <div class="col s12 l7 flow-text">
                  <h3>Photo App</h3>
                  <ul>
                    <li>Customized user authenitcation with Devise</li>
                    <li>Datepicker project deadline feature</li>
                    <li>UI built with CSS, SASS, and Bootstrap</li>
                    <li>Integrated: Heroku, Carrierwave, Mini Magick,<br/>Fog, Stripe, and AWS</li>
                  </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("space.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
            </div>
            <!--End Photo App-->
            
            <!-- SocialStock -->
            <div class="row">
              <div class="col s12">
                <hr/>
                <br/>
                <div class="col s12 l7 flow-text">
                  <h3>SocialStock</h3>
                  <ul>
                    <li>Built in less than a day</li>
                    <li>Built search function with AJAX, jQuery,<br/>and JavaScript</li>
                    <li>Built 'follow friends' functionality</li>
                    <li>Integrated: Yahoo API, Devise, AWS</li>
                  </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("space.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
            </div>
            <!--End SocialStock-->
            
            <!-- SocialStock -->
            <div class="row">
              <div class="col s12">
                <hr/>
                <br/>
                <div class="col s12 l7 flow-text">
                  <h3>SocialStock</h3>
                  <ul>
                    <li>Built in less than a day</li>
                    <li>Built search function with AJAX, jQuery,<br/>and JavaScript</li>
                    <li>Built 'follow friends' functionality</li>
                    <li>Integrated: Yahoo API, Devise, AWS</li>
                  </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("space.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
            </div>
            <!--End SocialStock-->
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>