<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <div class="icon-block">
          
          <!--Header portfolio-->
          <div class="center">
            <h2 class="red-text">Rails Projects</h2>
            <p class="grey-text">
              I created the following projects by consulting countless online references,
              online bootcamps, and books.
            </p>
          </div>
          
          <!-- Projects -->
          <% @projects.each do |project| %>
            <div class="row">
              <div class="col s12">
                <hr/>
                <br/>
                <div class="col s12 l7 flow-text center">
                  <h3 class="project-header red-text text-darken-2"><%= project.title %></h3>
                  <p class="project-description"><%= project.description %></p>
                  <% project.points.each do |point| %>
                    <ol>
                      <li><%= point.body %></li>
                    </ol>
                  <% end %>
                  <ul>
                    <li><i class="fa fa-github"></i> <%= link_to "GitHub Repository", project.git_link %></li>
                  </ul>
                </div>
                <div class="col s12 l5">
                  <%= link_to image_tag(project.image, class: "responsive-img"), project.live_link, target: "_blank" %>
                </div>
              </div>
            </div>
          <% end %>
          <!--End Projects-->
          
        </div>
      </div>
    </div>
  </div>
</div>