<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row center">
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large light-blue lighten-2" id="footer-button">
          <%= link_to "Dev Bootcamp Projects", devbootcamp_path %>
        </h5>
      </div>
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large red lighten-2" id="footer-button">
          <%= link_to "Ruby on Rails Projects", rails_path %>
        </h5>
      </div>
      <div class="col l4 s12">
        <h5 class="waves-effect waves-light btn-large light-blue lighten-2" id="footer-button">
          <%= link_to "Unity Game Projects", videogames_path %>
        </h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="right">
        <%= link_to "About", about_path %> | 
        <%= link_to "Blog", blog_path %>
      </div>
      <div class="center copyright">
        Copyright &copy; 2016
      </div>
    </div>
  </div>
</footer>